
.App {
  display: flex;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  flex-direction: column;
 
}
.buttontag {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border : 1px solid rgb(30, 46, 30);
  font-size: 20px;
  border-top: 20px;
  padding-left: 10px;
}
 buttontag:hover {
  cursor: pointer;
}
.App input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  align-content: center;
}
 input {
  justify-content: center;
}